body{
  margin: 0, auto;
  text-align: center;
}
canvas{
  background: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 50%, #ffffff 100%);
  border-radius: 8px;
}
ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}
#dashboard{
  font-family: 'Reggae One', cursive;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.2);
  margin: 10px 0 0;
  padding: 5px 10px;
  border-radius: 100vw;
  /* width:600px; */
}

#dashboard li{
  display: inline-block;
  text-align: center;
}

#dashboard li span {
   margin: 0 10px 0 0;
}