body{
  margin: 0, auto;
  text-align: center;
  background: #000;
}
canvas{
  background:#caf0f8;
  border-radius: 8px;
}
.game-container{
  font-family: 'Reggae One', cursive;
  display: inline-block;
  margin: 0 auto;
  background: #00b4d8;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 10px 10px 0 0 #000000;
}

.game-container header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0 0 5px 0;
  line-height: 1;
}
ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}
#dashboard{
  
  font-size: 24px;
  background: #ccc;
  margin: 10px 0 0;
  padding: 5px 10px;
  border-radius: 100vw;
  /* width:600px; */
}

#dashboard li{
  display: inline-block;
  text-align: center;
}

#dashboard li span {
   margin: 0 10px 0 0;
}